<h1>All The Time</h1>

<% if current_user %>

<div class="row">
  <h3>View Reports</h3>
    <h5>Select An End Date for Your Reports</h5>
      <%= form_tag("/reports", method: "get") do %>
        <%= label_tag(:q, "End Date") %>
        <%= date_field(:q, :date, value: Date.today.try(:strftime, '%Y-%m-%d')) %>
        <%= submit_tag("Get Reports")%>
      <% end %>
</div>

<div class="row add-entry">
  <%= link_to "Add Entry", new_entry_path, class:"btn btn-primary" %>
</div>

<% end %>

<% if current_user.org_admin? %>
  <%= link_to "Organization Reports", organization_path(current_user.organization_id), class:"btn btn-primary" %>
<% end  %>
