<h2>Categories</h2>

<div class="categories">

  <ul class="categories-overview">
    <% @categories.each do |category| %>
      <li> <%= category.name %></li>
      <% end %>
  </ul>

</div>

  <%= form_for(:category, url: categories_path, method: "post") do |f| %>
    <%= f.label :name, "Name" %>
    <%= f.text_field :name %>

    <%= f.submit "Create" %>
  <% end %>
