<!DOCTYPE html>
<html>
  <head>
    <title>AllTheTime</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <nav class="navbar navbar-default navbar-inverse">
        <div class="container">
          <ul class="nav navbar-nav navbar-left">
            <li><%= link_to "Home", root_path %></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? && current_user.org_admin %>
              <li class='navbar-text'><%= link_to "Organization Reports", organization_path(current_user.organization_id) %></li>
            <% end %>

            <% if user_signed_in? %>
              <li class='navbar-text'>Logged in as <%= current_user.email %></li>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "Sign up", new_user_registration_path %></li>
              <li><%= link_to "Login", new_user_session_path %></li>
            <% end %>
          </ul>
      </div>
    </nav>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
